.contLector {
  border: 2px solid #222;
  border-radius: 20px;
  padding: 30px;
  width: 340px;
  background: #ffffff;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.contLector p {
  font-size: 15px;
  margin-bottom: 20px;
}

.contLector h3 {
  font-weight: bold;
  color: #111;
  margin-bottom: 8px;
  letter-spacing: 1px;
}
.contLector ion-input {
  border: 1px solid #444;
  border-radius: 8px;
  margin-bottom: 20px;
  background: #f9f9f9;
}

.contLector ion-button {
  margin-top: 10px;
  --background: #111;
  --color: #fff;
  border-radius: 8px;
  font-weight: bold;
}

.contLector .txtError {
  color: #b00020;
  font-weight: bold;
  margin-top: 15px;
  font-size: 13px;
  text-align: center;
}
